*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav{
  background-color: #0d325a;
}
.container{
  width: 80vw;
  margin: auto;
}
.nav_all{
  width: 100%;
  height: 150px;
  line-height: 150pX;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 60px;
  color: aliceblue;
}
.nav_all:after{
  clear: both;
  content: "";
  display: table;
}
.nav_left{
  float: left;
  width: 70%;
}
.nav_left span{
  margin-right: 10px;
  margin-left: 10px;
}
.nav_left span:hover{
  color: coral;
}
.nav_right{
  float: right;
  width:30%;
}
#login{
  background-color: #0d325a;
  border: 1px solid #0275d8;
  color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
}
.plain{
  background-color: #7fb802;
  font-size: 12px;
  border-radius: 5px;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
}
.bg_blue{
    background-color: #0d325a;
    color: aliceblue;
}
.sleeveSX{
  width: 40%;
  float: left;
  height: 500px;
  font-size: 34px;
  position: relative;
}
.sleeveDX{
  width: 60%;
  height: 500px;
  float: right;
}
.ce{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.row:after{
  clear: both;
  content: "";
  display: table;
}
.old_man{
  height: 100%;
  width: 100%;
  background-image: url(https://www.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png);
  background-size: cover;
  background-position: center;
  transform: scale(0.5) translate(-70px,25px);
}
.left,.center,.right{
  float: left;
  width: 33.333%;
}
.mt-20{
  margin-top: 20px;
}
#why-fluentify img{
  width: 135px;
  height: 160px;
}
#why-fluentify,#level{
  text-align: center;
}
#why-fluentify h3{
  color: #7fb802;
}
.half{
  float: left;
  width: 50%;
  height:400px;
}
#level img{
  width: 400px;
  height: 350px;
}
#lev_h_DX{
  position: relative;
}
#lev_DX{
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#lev_DX>h2{
  margin-bottom: 30px;
  font-size: 30px;
}
